<div>
  <button (click)=startGame() [disabled]="gameService.isGameStarted()">Go</button>
  <button (click)=addField()>Add field</button>
</div>

<span>Score: {{gameService.getScore()}}</span>
<span>Money: {{gameService.getMoney()}}</span>
<span>Water: {{gameService.getWater()}}</span>

<div class="container">
  <app-field *ngFor="let field of gameService.fields" [field]="field"></app-field>
</div>

<button (click)=openBuyWater()>Buy water</button>
<span *ngIf="showBuyWater">
  <input #water value=1 type="number">
  <button (click)=buyWater(water.value)>Buy</button>
</span>